*{
    -webkit-user-drag: none;
    user-select: none;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.sketch{
    box-shadow: 0px 1px 8px 0px grey;
    width:500px;
    flex-wrap: wrap;
}
.square{
    box-sizing: border-box;
}
.wrap-reverse{
    flex-wrap:wrap-reverse;
    gap:8px;
}
.column{
    flex-direction: column;
    gap:8px;
}

#colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
#colorpicker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
} 
#colorpicker {
    width: 100px;
    height: 100px; 
    background:none;
    border:none;
    overflow: hidden;
}

.title{
    text-align:center;
    font-size: 50px;
}